<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">FLASK</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/dashboard">dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/test1">TEST1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">CONTACT</a>
  <li class="nav-item">
    <a class="nav-link" href="/test">TEST</a>
    <li class="nav-item">
    <a class="nav-link" href="/reg">registation</a>
     <li class="nav-item">
    <a class="nav-link" href="/login">login</a>
     <li class="nav-item">
    <a class="nav-link" href="/viewdata">viewdata</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/update">updatation</a>
  </li>
  
</ul>