<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
 
 
     
<style>
    table{
        width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
            th, td
        {
            border: 1px solid #ddd;
            padding: 8px 12px;
            text-align: left;
        }
    </style>
    </head>
    <body>
        {% include 'nav.html'%}
        <h1> register user</h1>
        <table>
        <thead>    
        <tr>
            <th>Id</th>
            <th>fullname</th>
            <th>email</th>
            <th>password</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
            <tr>
            {%  for item in data %}
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td> <a href="deletestudent/{{item[0]}}" class="btn btn-danger"></a>Delete</td>
            </tr>
            {% endfor %}
        </tbody>
        
</body>
</html>